.view-filters {
  --views_exposed_range_slider_label_font_size: 1rem;
  --views_exposed_range_slider_label_color: #f00;
  --views_exposed_range_slider_track_color: #0f0;
  --views_exposed_range_slider_thumb_color: #00f;
}
.view-filters .slider-wrapper {
  position: relative;
  margin-bottom: 65px;
}
.view-filters .slider-wrapper span.value {
  position: absolute;
  top: 55px;
  left: 135px;
  display: inline-block;
  height: 1.7em;
  color: var(--views_exposed_range_slider_label_color);
  font-size: var(--views_exposed_range_slider_label_font_size);
}
.view-filters .slider-wrapper span.value.upper {
  left: 173px;
}
.view-filters .slider-wrapper span.value::before {
  display: inline-block;
  margin-right: 0.25rem;
}
.view-filters .slider-wrapper span.value.lower::before {
  content: "";
}
.view-filters .slider-wrapper span.value.upper::before {
  margin-left: 0.4rem;
  content: "- ";
}
.view-filters .slider-wrapper div.js-form-item-max-value label {
  display: none;
}
.view-filters .slider-wrapper div {
  height: 4px;
  text-align: left;
}
.view-filters .slider-wrapper div label {
  color: var(--views_exposed_range_slider_label_color);
  font-size: var(--views_exposed_range_slider_label_font_size);
  font-weight: bold;
}
.view-filters .slider-wrapper div input {
  position: absolute;
  margin-top: 15px;
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none !important;
  background: transparent
    linear-gradient(
      to bottom,
      transparent 0%,
      transparent 30%,
      silver 30%,
      silver 60%,
      transparent 60%,
      transparent 100%
    );
  -webkit-appearance: none;
}
.view-filters .slider-wrapper div input:focus {
  box-shadow: none;
}
.view-filters .slider-wrapper div input[type="range"] {
  height: 16px;
  -webkit-appearance: none;
  margin: 16px 0;
}
.view-filters
  .slider-wrapper
  div
  input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: var(--views_exposed_range_slider_track_color);
}
.view-filters .slider-wrapper div input[type="range"]::-webkit-slider-thumb {
  width: 16px;
  height: 16px;
  margin-top: -5.5px;
  cursor: pointer;
  border-radius: 16px;
  background: var(--views_exposed_range_slider_thumb_color);
  -webkit-appearance: none;
}
.view-filters .slider-wrapper div input[type="range"]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: var(--views_exposed_range_slider_track_color);
}
.view-filters .slider-wrapper div input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  margin-top: -5.5px;
  cursor: pointer;
  border-radius: 16px;
  background: var(--views_exposed_range_slider_thumb_color);
  -webkit-appearance: none;
}
.view-filters .slider-wrapper div input[type="range"]::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: var(--views_exposed_range_slider_track_color);
}
.view-filters .slider-wrapper div input[type="range"]::-ms-thumb {
  width: 16px;
  height: 16px;
  margin-top: -5.5px;
  cursor: pointer;
  border-radius: 16px;
  background: var(--views_exposed_range_slider_thumb_color);
  -webkit-appearance: none;
}
