@mixin min-max-slider {

  .slider-wrapper {
    position: relative;
    margin-bottom: 65px;

    span.value {
      position: absolute;
      top: 55px;
      left: 135px;
      height: 1.7em;
      font-size: var(--views_exposed_range_slider_label_font_size);
      color: var(--views_exposed_range_slider_label_color);
      display: inline-block;

      &.upper {
        left: 173px;
      }

      &::before {
        display: inline-block;
        margin-right: .25rem;
      }

      &.lower::before {
        content: "";
      }

      &.upper::before {
        content: "- ";
        margin-left: 0.4rem;
      }
    }

    div.js-form-item-max-value {
      label {
        display: none;
      }
    }

    div {
      height: 4px;
      text-align: left;

      label {
        font-size: var(--views_exposed_range_slider_label_font_size);
        color: var(--views_exposed_range_slider_label_color);
        font-weight: bold;
      }

      input {
        cursor: pointer;
        position: absolute;
        margin-top: 15px;

        -webkit-appearance: none;
        outline: none !important;
        background: transparent linear-gradient(to bottom, transparent 0%, transparent 30%, silver 30%, silver 60%, transparent 60%, transparent 100%);
        border: none;
        padding: 0;

        &:focus {
          box-shadow: none;
        }
      }

      input[type=range] {
        height: 16px;
        -webkit-appearance: none;
        margin: 16px 0;

        &::-webkit-slider-runnable-track {
          @include slider-track;
        }

        &::-webkit-slider-thumb {
          @include slider-thumb;
        }

        &::-moz-range-track {
          @include slider-track;
        }

        &::-moz-range-thumb {
          @include slider-thumb;
        }

        &::-ms-track {
          @include slider-track;
        }

        &::-ms-thumb {
          @include slider-thumb;
        }
      }
    }
  }
}

@mixin slider-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: var(--views_exposed_range_slider_track_color);
}

@mixin slider-thumb {
  height: 16px;
  width: 16px;
  border-radius: 16px;
  background: var(--views_exposed_range_slider_thumb_color);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.5px;
}

.view-filters {
  --views_exposed_range_slider_label_font_size: 1rem;
  --views_exposed_range_slider_label_color: #ff0000;
  --views_exposed_range_slider_track_color: #00ff00;
  --views_exposed_range_slider_thumb_color: #0000ff;
  @include min-max-slider;
}
